.JoinPage{
    background-color: rgb(95, 92, 92);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.JoinContainer{
    /* border: 2px solid rgb(218, 210, 210); */
    /* height: 50%; */
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.JoinContainer > img{
   width: 10vmax;
}

.JoinContainer > h1{
    color: white;
    font-size: 2.5vmax;
    font-family: "Roboto";
    width: 25vmax;
    border-bottom: 0.2vmax solid white;
    text-align: center;
    box-sizing: border-box;
}

#joinInput{
    width:25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    font-size: 1.2;
    margin: 2vmax;
    box-sizing: border-box;
}

.joinbtn{
    width:25vmax;
    padding: 1.5vmax;
    border: none;
    outline: none;
    color: white;
    font-family: 'Roboto';
    font-size: 1.2vmax; 
    background-color:crimson;
    box-sizing: border-box;
    transition: all 0.3s;
    cursor: pointer;
}

.joinbtn:hover{
    background-color:rgb(140, 21, 45);
}